.instructionsContainer{
  text-align: center;
  width: 80%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /* position: center; */
  padding-top: 5%;
  margin-left: 20%;
}

.instructionsList{
  list-style-type: none;
  font-size: 20px;
}

.appDescription{
  text-align: center;
  font-size: 2.5vh;
  margin: 0px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
