html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#root {
  height: 100%;
  box-sizing: border-box;
}
.app-container {
  height: 100%;
  box-sizing: border-box;

}
.quill {
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
.ql-container {
  box-sizing: border-box;
  height: calc(100% - 42px);
  overflow-y: scroll;
}
.ql-editor {
  cursor: text;
}
.MuiListItem-root.Mui-selected {
  background-color: #d4d8e8 !important;
}
.no-note-selected {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
}
#logoutButton{
  font-size: 0.875rem;
  padding: 0.52%;
  border: none;
  margin-bottom: 1px;
  text-align: center;
  color: white;
  height: 40px;
  background-color: #28487D;
  width: 10%;
  font-weight: 500;
  cursor: pointer;
  float: right;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#logoutButton:hover{
  background-color: #88a2ce;
}

/* Below is all mobile styling for all of the components. I didn't want to modify each individual style object within each component folder.  */

@media screen and (max-width: 1200px) {

  /* instructions component mobile styling */
  .app-container .instructionsContainer {
    width: 70%;
    padding-top: 20%;
    padding-left: 5%;
  }
  .app-container .instructionsContainer ul {
    font-size: 12px;
  }
  .app-container .instructionsContainer h2 {
    font-size: 20px;
  }

  .app-container .instructionsContainer .instructionsList li{
    margin-bottom: 12px;
  }

  /* sidebar component mobile styling */

  .app-container .SidebarComponent-sidebarContainer-5 {
    width: 30%;
    /* font-size: 10px; */
  }

  /* sidebar item mobile styling */

  /* this mess is all the classes necessary to target each list item's title */
.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
  font-size: 12px;
  font-weight: bold;
}

/* this is targeting each list items sample pargagraph within the sidebar. */

.MuiTypography-root.MuiListItemText-secondary.MuiTypography-body2.MuiTypography-colorTextSecondary.MuiTypography-displayBlock {
  font-size: 12px;
}

/* this is targeting the trash can delete icon */

.MuiSvgIcon-root.SidebarItemComponent-deleteIcon-46{
  height: 18px;
}


/* log-out button mobile styling */

  #logoutButton{
    width: 20%;
  }


}
